/* */
.dropright .dropdown-toggle::after,
.dropdown-toggle::after { display: none; }

h1 { font-size: 72px; line-height: 80px; }
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 600; }

footer { background: #000; }
footer a,
footer h2,
footer .text-gray,
footer input { color:#fff !important; }

/* */
.slider-spaces { margin-bottom: 30px; }
.slider-spaces .slick-arrow { /*display: flex !important;*/ }
.slider-spaces .slick-arrow.slick-next { left: auto; right: -15px; }
.slider-spaces .slick-arrow.slick-prev { left: -15px; ight: auto; }

.btn-primary { background: #d98236; border-color: #d98236; }
.btn-primary:hover { background: #000000; border-color: #000000; }
.btn-secondary { background: #000000; border-color: #000000; }
.btn-secondary:hover { background: transparent; border-color: #000000; }
.btn-tertiary { background: #FFFFFF; border-color: #000000; }
.btn-tertiary:hover { background: #d98236; border-color: #d98236; color: #FFFFFF; }
.btn-white:hover { background: #d98236; border-color: #d98236; color: #FFFFFF; }

/**/
.pt-50  { padding-top: 50px; }
.pt-75  { padding-top: 75px; }
.pt-100 { padding-top: 100px; }

/* Font Colors */
.fc-orange { color: #d98236 !important; }
.fc-black  { color: #000000 !important; }
.fc-white  { color: #FFFFFF !important; }

.overlay { position: absolute; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.4); top: 0; left: 0; }
.overlay-light { background-color: rgba(255, 255, 255, 0.25); }
.overlay-dark { background-color: rgba(0, 0, 0, 0.25); }

/* */
.hidden { display: none !important; }
.list-links a:hover { opacity: 0.5; }
.modal-body { overflow: hidden; }
.section-categories .card-img { height: 400px; }

/* */
.sticky-area { background-color: rgba(255, 255, 255, 1); }
.main-header .main-menu { margin: 20px 20px; }
.main-header .main-menu .nav-item { margin: 20px 20px; }
.main-header .main-menu .nav-link.active { color: #d98236; }
.main-header .main-menu .nav-link.active:before { width: 100%; background: #d98236; }
.main-header .navbar-brand { max-width: 180px; }

/* Slick Slider */
.slick-slider .slider-image { position: relative; }
.slick-slider .slick-arrow.slick-next { left: auto; right: 100px; }
.slick-slider .slick-arrow.slick-prev { left: 100px; ight: auto; }
.slick-slider .slider-caption p { color: #000000; }
.slick-slider .slider-caption .btn { color: #FFFFFF; margin: 0 10px 15px; padding: 15px 35px; }
.slick-slider .slider-caption { /*text-align: center;*/ }
.slick-slider .slider-caption .slider-heading,
.slick-slider .slider-caption .slider-subheading { color: #FFFFFF; margin: 0 10px 15px; }

/* Banner */
.banner { background-color: #F1F1F1 !important; }
.banner .row { height: 400px; padding-top: 100px; }

/* Page: Spaces */
.page-spaces main { margin-top: 110px; }
.page-spaces section { background-color: #FFFFFF; }
.page-spaces .banner { margin-bottom: 100px; }
.page-spaces .banner .row { padding-top: 0; }

/* Isotope System */
.grid p { text-transform: uppercase; margin: 0; font-size: 14px; }
.grid-item { margin-bottom: 20px; }
.grid-item { background-color: transparent !important; }
.grid-item .card-body {  background-color: #FFFFFF; }
.grid-item a { margin: 0 10px; }
.grid-item img { height: 100%; width: 100%; transition: ease 0.3s all; }
.grid-item:hover img { transform: scale(1.1); }

.grid .card { border: 0; }
.grid .card-img-top { overflow: hidden; }
.grid .card-body { padding-left: 0; padding-right: 0; }

/* Isotope: Columns */
.grid-2-columns .grid-item { width: 50%; }
.grid-3-columns .grid-item { width: 33%; }
.grid-4-columns .grid-item { width: 25%; }
.grid-5-columns .grid-item { width: 20%; }

/* Filter */
.filter-button-group .btn { margin: 0 2px 10px; box-shadow: 0 0 0 !important; }
.filter-button-group .btn.active { background-color: #d98236; color: #FFFFFF; border-color: #d98236; }
.filter-button-group .btn:focus { outline: 0; box-shadow: 0 0 0 !important; }
.filter-button-group .btn:last-child { margin-right: 0; }

/* */
.image-marker .image-pointer .pointer-icon { background-color: #d98236; }
.image-marker .image-pointer .pointer-icon:hover { background-color: #000000; }

/* */
.ekko-lightbox-nav-overlay { position: absolute; top: 45%; display: flex; width: calc(100% - 30px); justify-content: space-between; }
.ekko-lightbox-nav-overlay a { border-radius: 100px; transition: ease 0.3s all; margin: 20px; opacity: 0.5; }
.ekko-lightbox-nav-overlay a { display: flex; height: 50px; width: 50px; background-color: #FFFFFF; justify-content: center; align-items: center; }
.ekko-lightbox-nav-overlay a:hover { background-color: #000000; color: #FFFFFF; opacity: 1; }

/* */
.table-products a { color: #d98236; }
.table-products a:hover { color: #000000; }