/* 320px */
@media (min-width: 320px) {
	.for-mobile { display: block !important; }
	.for-screen { display: none !important; }

	/* */
	.slick-arrow { display: none !important; }
	.slider-image { padding-top: 100px; }
	.slider-image .row { height: calc(100vh - 100px); padding-top: 0; }
	.slider-heading { font-size: 40px; line-height: 48px; }
	.slider-subheading { font-size: 16px; line-height: 24px; display: none; }
	
	.section-categories .card { margin-bottom: 20px; }
	.section-highlight-content { margin-top: 140px; }
	
	.slider,
	.section { margin-bottom: 50px; }
	.banner { background-size: 0; background-color: #F1F1F1; text-align: center; margin-bottom: 50px; padding: 50px 0; margin-top: 100px; }
	.section-callout { padding: 50px 0; margin-bottom: 0 !important; }
	
	footer { padding-top: 50px; }
	footer .list-links li { margin-bottom: 0; }
	
	.fs-40 { line-height: 48px; }
	.fs-30 { line-height: 38px; }
}

/* 768px */
@media (min-width: 768px) {
	.for-mobile { display: none !important; }
	.for-screen { display: block !important; }
	
	/* */
	.slick-arrow {display: flex !important; }
	.slider-image { padding-top: 100px; }
	.slider-image .row { height: calc(100vh - 100px); padding-top: 0; }
	.slider-heading { font-size: 72px; line-height: 80px; }
	.slider-subheading { font-size: 24px; line-height: 32px; display: block; }
	
	.section-highlight-content { margin-top: 0; }
	
	.slider,
	.section { margin-bottom: 100px; }
	.banner { background-size: cover; background-color: transparent; text-align: left; margin-bottom: 100px; padding: 100px 0; margin-top: 110px; }
	.section-callout { padding: 100px 0; }
	
	footer { padding-top: 100px; }
	
	.fs-md-40 { line-height: 48px; }
	.fs-md-56 { line-height: 64px; }
	.fs-md-60 { line-height: 68px; }
	
}